@import '~@angular/material/theming';
@import '../../../theme';

.mat-card {
  align-items: center;
  display: flex;
  padding: 24px 24px 24px 0;
}

.large-points {
  color: mat-color($primary);
  display: flex;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  width: 90px;
}

.points {
  display: none;
}

.mat-card-title {
  color: rgba(0, 0, 0, 0.54);
  font-size: inherit;
  font-weight: normal;

  a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
  }
}

.mat-card-subtitle {
  margin: 0;

  span {
    margin-right: 2px;
  }

  span + span {
    margin-left: 2px;
  }
}

@media(max-width: 399px) {

  .mat-card {
    padding: 16px;
  }

  .large-points {
    display: none;
  }

  .points {
    display: inline-block;
  }
}
