@use "@angular/material" as mat;
@import "variables";

.mat-mdc-card-header {
  align-items: center;
  padding: 24px;
}

.large-points {
  border-radius: unset;
  color: mat.get-color-from-palette($primary);
  display: flex;
  font-size: 20px;
  font-weight: 500;
  height: auto;
  justify-content: center;
  margin-bottom: 0;
  width: 50px;
}

.points {
  display: none;
}

.mat-mdc-card-title {
  color: rgba(0 0 0 / 54%);
  font-size: inherit;
  font-weight: normal;
  line-height: normal;

  a {
    color: rgba(0 0 0 / 87%);
    text-decoration: none;
  }
}

.mat-mdc-card-subtitle {
  font-weight: normal;
  margin: 4px 0 0;

  a {
    display: inline-block;
  }

  span {
    margin-right: 2px;
  }

  span + span {
    margin-left: 2px;
  }
}

@media (width <= 399px) {
  .mat-mdc-card-header {
    padding: 16px;
  }

  .large-points {
    display: none;
  }

  .points {
    display: inline-block;
  }
}
