<h2 *ngIf="item.domain">
  <a
    [href]="item.url"
    target="_blank"
    rel="noopener">
    {{ item.title }}
  </a>
  ({{ item.domain }})
</h2>

<h2 *ngIf="!item.domain">
  <a [routerLink]="['/item', item.id]">
    {{ item.title }}
  </a>
</h2>

<p>
  <span *ngIf="item.user">By <a [routerLink]="['/user', item.user]">{{ item.user }}</a></span> |
  <span *ngIf="item.points">{{ item.points }} points</span> |
  <span [title]="item.time">{{ item.time_ago }}</span> |
  <span><a [routerLink]="['/item', item.id]">{{ item.comments_count }} comments</a></span>
</p>

<hr>
