<mat-toolbar color="primary">
  <div class="container">

    <!-- Logo -->
    <a routerLink="/" class="logo">
      <img src="assets/logo.svg" alt="NgHackernews">
    </a>

    <!-- Navigation items -->
    <a
      *ngFor="let navItem of navItems"
      [routerLink]="navItem.link"
      routerLinkActive="active"
      mat-button>
      {{ navItem.title }}
    </a>

    <a
      mat-button
      href="https://angular.io/"
      target="_blank"
      rel="noopener"
      class="made-by">
      Made with Angular
    </a>

  </div>
</mat-toolbar>
