<mat-toolbar color="primary">
  <div class="container">
    <!-- Logo -->
    <a routerLink="/" class="logo">
      <img src="assets/logo.svg" alt="NgHackernews" />
    </a>

    <!-- Dark & light mode toggle -->
    @if (currentTheme() === Theme.Dark) {
      <mat-icon (click)="enableLightMode()">light_mode</mat-icon>
    } @else {
      <mat-icon (click)="enableDarkMode()">dark_mode</mat-icon>
    }

    <!-- Navigation items -->
    <a
      *ngFor="let navItem of navItems"
      [routerLink]="navItem.link"
      routerLinkActive="active"
      mat-button
    >
      {{ navItem.title }}
    </a>

    <a
      mat-button
      href="https://github.com/wbeeftink/ng-hackernews"
      target="_blank"
      rel="noopener"
      class="made-by"
    >
      Made with Angular
    </a>
  </div>
</mat-toolbar>
