.thread .thread {
  padding-left: 24px;
}

.comment {
  font-size: 14px;
  margin-bottom: 24px;
}

.title {
  color: rgba(0, 0, 0, 0.54);
  font-weight: normal;
}

span {
  margin-right: 2px;
}

span + span {
  margin-left: 2px;
}

.content {
  margin-bottom: 24px;
}

@media(max-width: 399px) {

  .thread .thread {
    padding-left: 12px;
  }
}
