@use "@angular/material" as mat;

.mat-app-background {
  @include mat.elevation(1);

  // color: rgba(0 0 0 / 54%);
  align-items: center;
  display: flex;
  font-size: 14px;
  height: 56px;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 56px;
  width: 100%;
  z-index: 100;

  @media (width >= 599px) {
    height: 64px;
    top: 64px;
  }
}

span {
  margin: 0 15px;
}

@media (width <= 399px) {
  span {
    margin: 0 10px;
  }
}
