@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  min-height: 100%;
}

body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  padding: calc(5vh + 64px) 5vw 5vw 5vw;
}
