@import '~@angular/material/theming';
@import 'theme';

html, body {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: calc(3vh + 64px) 6vw 3vh;
}

a {
  color: mat-color($accent, default);

  mat-card-subtitle & {
    color: inherit;
  }
}
